<h1>Listing movies</h1>

<% form_tag(add_url, :method=>'post') do %>
	<table>
  		<tr>
			<th></th>
    		<th>Title</th>
    		<th>Description</th>
  		</tr>
	
	<% form_tag(:url => {:action => 'add'}, :method=>'post') do %>
		<% @topFive.each do |movie| %>
  			<tr>
    			<td><%= radio_button_tag :movieChoice, movie %></td>
    			<td><%=h movie.title %></td>
    			<td><%=h movie.description %></td>
  			</tr>
		<% end %>
	 	<p>
	    	<%= submit_tag 'Results', :action=>'add'%>
	  	</p>
	<% end %>
	</table>

<% end %>

