<h1>Listing movies</h1>

<% form_tag(:action=>'add', :choice=>@something.id, :method=>'post') do %>
	<table>
  		<tr>
			<th></th>
    		<th>Title</th>
    		<th>Description</th>
  		</tr>
	
		<% @topFive.each do |movie| %>
  			<tr>
    			<td><%= radio_button_tag :movieChoice, movie.title %></td>
    			<td><%=h movie.title %></td>
  			</tr>
		<% end %>
	 	<p>
	    	<%= submit_tag 'Results', :action=>'add'%>
	  	</p>
	</table>

<% end %>

